/* .bread-crumb {
    background: #ece9e9;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 2px #d1cfcf;
}

.title-product {
    color: #292929;
    font-size: 24px;
    line-height: 26px;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

.description p {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.addCart {
    color: #1e6225;
}

.addCart:hover {
    background-color: #1e6225;
    color: white;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: auto;
} */